$color-principal:rgb(56, 56, 199);
$color-secundario: rgb(230, 230, 230);
$color-terciario:rgb(243, 210, 25);
// $color-secundario: rgb(15, 14, 14);
$color-success:rgb(3, 200, 62);
$color-btn-close:rgb(180, 169, 169);
@import url('https://fonts.googleapis.com/css2?family=Carlito&display=swap');
