@import '../../../recursos';
.container{
    display: flex;
    padding: 0px 4rem;
    margin-top: 50px;
    flex-wrap: wrap;
    font-family: 'Carlito', sans-serif;
    display: flex;
    flex-direction: column;
    
    .row{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 12px 0px;
    }
    #guardaForm{
        border: none;
        background: rgb(58, 179, 3);
        border-radius: 5px;
        padding:10px 20px;
        width: 300px;
        color: white;
        margin-top: 20px;
        &:hover{
            cursor: pointer;
        }
    }

    .inputForm{
        width: 300px;
    }
    .container-sections{
        display: flex;
        width: 100%;
        margin-top: 50px;
        input,select{
            border: none;
            border-radius: 3px;
            height: 30px;

            padding-left: 10px;
        }
        label{
            margin-bottom: 5px;
            font-weight: bolder;
        }

        button{
            border: none;
            background: rgb(255, 208, 0);
            border-radius: 5px;
            padding:5px 10px;
        }
        div:nth-child(1){
            display: flex;
            width: 100%;
            flex-direction: column;
            span{
                margin-top: 10px;
            }

            form{
                display: flex;
                flex-direction: column;
                width: 30%;
                max-width: 400px;
                padding: 10px;
                border-radius: 9px;
                margin: 10px 0px;
                background: rgb(224, 224, 224);

                button{
                    background: $color-terciario;
                    color: rgb(0, 0, 0);
                }
               
            }
        }

       
    }


    
   

}

@media only screen and (max-width: 450px) {
    .container{
        padding:0px 20px;

        .container-sections div:nth-child(1) form{
            width: 90%;
        }
    }
}